body
{
    display:block;
    max-width: 400px;
    min-width:300px;
    height: 100%;
    margin:auto;
    margin-top:10px;
    padding:10px;   
}

#circle
{
    position: absolute;
    left: 100px;
    top:100px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: aqua;
    transform-origin: 50% 50%;
}